---
import Layout from "../layouts/Layout.astro";
import "leaflet/dist/leaflet.css";
---

<Layout title="Welcome to Astro.">
  <link rel="stylesheet" href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" />
  <div id="map"></div>
  <script>
    import maplibregl from "maplibre-gl";
    import GeoJSONLayer from "../lib/GeoJSONLayer";

    let layer = await GeoJSONLayer.fromImage(`${new URLSearchParams(window.location.search).get("image") || "elecgeo"}.json`);

    const map = new maplibregl.Map({
      container: "map",
      style:
        "https://api.maptiler.com/maps/streets/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL",
      center: [3.052826, 46.98681],
      zoom: 8,
    });

    map.on("load", async () => {
      layer.addTo(map);

      map.on("click", layer.name, (e) => {
        const feature = e.features![0];
        new maplibregl.Popup()
          .setLngLat(e.lngLat)
          .setHTML(`
<div>
  <h3>${feature.properties.rrn}</h3>
  <select id="color-select">
    <option value="">--Select color--</option>
    <option value="#ff0000">Red</option>
    <option value="blue">Blue</option>
    <option value="green">Green</option>
    <option value="yellow">Yellow</option>
    <option value="aqua">Aqua</option>
    <option value="pink">Pink</option>
  </select>
</div>
          `)
          .addTo(map);
          const colorSelect = document.getElementById("color-select") as HTMLSelectElement;
          colorSelect.addEventListener("change", (_) => {
            map.setFeatureState({
              source: layer.name,
              id: feature.id
            }, { color: colorSelect.value })
          });
      })
    });
  </script>
</Layout>
<style>
  @import "maplibre-gl";
  #map {
    width: 100%;
    height: 100vh;
  }
</style>
<style is:global>
  svg {
    shape-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
  }
  img {
    border: 1px solid yellow;
  }
</style>
