---
import Layout from "../layouts/Layout.astro";
import "leaflet/dist/leaflet.css";
---

<Layout title="Welcome to Astro.">
  <div id="map"></div>
  <script>
    import maplibregl from "maplibre-gl";
    import { loadGeoJSON } from "../lib/utils";

    const elecgeo = await loadGeoJSON("elecgeo.json");
    const geojson = {
      type: "FeatureCollection",
      features: elecgeo.map((geometry) => {
        return {
          type: "Feature",
          properties: {
            color: "#F7455D", // red
          },
          geometry,
        };
      }),
    };

    const map = new maplibregl.Map({
      container: "map",
      style:
        "https://api.maptiler.com/maps/streets/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL",
      center: [3.052826, 46.98681],
      zoom: 8,
    });

    map.on("load", async () => {
      map.addSource("lines", {
        type: "geojson",
        // @ts-ignore
        data: geojson,
      });
      map.addLayer({
        id: "lines",
        type: "line",
        source: "lines",
        paint: {
          "line-width": 3,
          // Use a get expression (https://maplibre.org/maplibre-style-spec/expressions/#get)
          // to set the line-color to a feature property value.
          "line-color": ["get", "color"],
        },
      });
    });

    setInterval(() => {
      const t0 = performance.now();
      for (let feature of geojson.features) {
        if (Math.random() < 0.999) continue;
        feature.properties.color = "#" + Math.floor(Math.random()*16777215).toString(16);
      }
      console.log(`Iterating through ${geojson.features.length} features took ${performance.now() - t0}ms`)
      map.getSource('lines')?.setData(geojson);
    }, 3000);
  </script>
</Layout>
<style>
  #map {
    width: 100%;
    height: 100vh;
  }
</style>
<style is:global>
  svg {
    shape-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
  }
  img {
    border: 1px solid yellow;
  }
</style>
