---
import Layout from "../layouts/Layout.astro";
import "leaflet/dist/leaflet.css";
---

<Layout title="Welcome to Astro.">
	<div id="map"></div>
	<script>
		import L from "leaflet";
		import { loadSVG } from "../lib/utils";

		let map = L.map("map", {
			crs: L.CRS.Simple,
			center: [30, 50],
			zoom: 0.1,
		});

		const svgElement = await loadSVG("/elecgeo/ELECGEO.PCT.opti.svg");

		console.info("Caching all SVGPathElements...");
		const paths: Map<SVGPathElement, number> = new Map();
		const t0 = performance.now();
		svgElement
			.querySelectorAll("path")
			.forEach((e) =>
				paths.set(e, parseInt(e.getAttribute("stroke-width") || "1")),
			);
		console.info(
			`Loaded ${paths.size} SVGPathElements in ${performance.now() - t0}ms`,
		);

		map.on("zoomend", (_e) => {
			const current_zoom = map.getZoom();
			paths.forEach((initialStrokeWidth, element) => {
				element.setAttribute(
					"stroke-width",
					`${initialStrokeWidth / Math.pow(current_zoom, 2)}`,
				);
			});
		});

		new L.SVGOverlay(svgElement, [
			[287, 710.5],
			[-253, -569.5],
		]).addTo(map);
	</script>
</Layout>
<style>
	#map {
		width: 100%;
		height: 100vh;
	}
</style>
<style is:global>
	svg {
		shape-rendering: optimizeSpeed;
	}
</style>
