---
import SVGUpload from "../components/SVGUpload.astro";
import Settings from "../components/Settings.astro";
import StartButton from "../components/StartButton.astro";
import Stats from "../components/Stats.astro";
import TileMaker from "../components/TileMaker.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SVGuez TileMaker">
  <div class="hero bg-base-200">
    <div class="w-full hero-content flex-col lg:flex-row-reverse lg:space-x-24">
      <object
        type="image/svg+xml"
        data="/favicon.svg"
        class="max-w-sm rounded-lg shadow-2xl"></object>
      <div>
        <h1 class="text-5xl font-bold">SVGuez TileMaker</h1>
        <p class="py-6">
          The best way to split your bulky un-optimized crappy SVG image to
          highly performant LeafletJS compatible tiles!
        </p>
        <SVGUpload />
      </div>
    </div>
  </div>

  <div class="flex w-full">
    <div class="grid flex-grow place-items-center">
      <Settings />
    </div>

    <div class="divider divider-horizontal w-fit">
      <StartButton />
    </div>

    <div class="grid flex-grow place-items-center">
      <Stats />
    </div>
  </div>
  <TileMaker />
</Layout>
<style is:global>
  html {
    height: 100vh;
  }

  body {
    display: block;
    height: 100%;
  }
</style>
