---
import Layout from "../layouts/Layout.astro";
---

<Layout title="SVGuez TileMaker">
  Salut
  <div id="svg-container" class=""></div>
</Layout>
<script>
  import { loadSVG, intersects, filterSVG } from "../lib/utils";

  const svg_container = document.getElementById(
    "svg-container"
  ) as HTMLDivElement;

  const svg = await loadSVG("elecgeo/ELECGEO.PCT.opti.svg");
  svg_container.appendChild(svg);

  const tile_rect = new DOMRect(
    0,
    0,
    svg.viewBox.baseVal.width / 2,
    svg.viewBox.baseVal.height / 2
  );

  let croppped = filterSVG(svg, (node) => {
    if (node instanceof SVGGraphicsElement) {
      const node_bbox = node.getBBox();
      if (!intersects(tile_rect, node_bbox)) {
        return false;
      }

      if (node_bbox.height < 5 && node_bbox.width < 5) {
        return false;
      }
    }

    return true;
  });

  svg_container.appendChild(croppped);
</script>
<style>
  #svg-container.hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    visibility: hidden;
    z-index: -100;
  }
</style>
