---
import Layout from "../layouts/Layout.astro";
---

<Layout title="SVGuez TileMaker">
  Salut
  <div id="svg-container" class=""></div>
  <div id="tile-container"></div>
</Layout>
<script>
  import { loadSVG, saveBlob } from "../lib/utils";

  const svg_container = document.getElementById(
    "svg-container"
  ) as HTMLDivElement;

  const tile_container = document.getElementById(
    "tile-container"
  ) as HTMLDivElement;

  const svg = await loadSVG("cadgeo/CADGEO.PCT.svg");
  svg_container.appendChild(svg);

  const worker = new Worker("../lib/worker.ts", { type: "module" });

  worker.addEventListener("message", (event: MessageEvent<Blob>) => {
    console.log("Saving blob...");
    saveBlob(event.data, "tiles.zip");
  });

  worker.postMessage(svg);
</script>
<style>
  #svg-container.hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    visibility: hidden;
    z-index: -100;
  }
</style>
<style is:global>
  .tile {
    width: 256px;
    height: 256px;
  }
</style>
