---
import Layout from "../layouts/Layout.astro";
---

<Layout title="SVGuez TileMaker">
  Salut
  <div id="svg-container" class=""></div>
  <div id="tile-container"></div>
</Layout>
<script>
  import JSZip from "jszip";
  import { createTiles } from "../lib/tilemaker";
  import { loadSVG, saveBlob } from "../lib/utils";

  const svg_container = document.getElementById(
    "svg-container"
  ) as HTMLDivElement;

  const svg = await loadSVG("elecgeo/ELECGEO.PCT.opti.svg");
  svg_container.appendChild(svg);

  console.log("Creating tiles...");
  const tiles = createTiles(svg, 3);

  // Save to zip
  console.log("Saving to zip...");
  const zip = new JSZip();
  for (const [key, tile] of tiles) {
    zip.file(key, tile.outerHTML);
  }
  console.log("Saved to zip");

  const blob = await zip.generateAsync({ type: "blob" });

  saveBlob(blob, "tiles.zip");
</script>
<style>
  #svg-container.hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    visibility: hidden;
    z-index: -100;
  }
</style>
<style is:global>
  .tile {
    width: 256px;
    height: 256px;
  }
</style>
