---

---

<div class="prose w-[80%] p-12">
  <h1>Settings</h1>
  <h2>Max zoom level</h2>
  <input
    type="range"
    min="0"
    max="80"
    value="10"
    class="range range-primary"
    step="10"
  />
  <div class="flex justify-between text-xs px-2">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
    <span>6</span>
    <span>7</span>
    <span>8</span>
    <span>9</span>
  </div>
  <h2>Tile size</h2>
  <select class="select select-bordered w-full max-w-xs">
    <option value="128">128x128px</option>
    <option value="256" selected>256x256px</option>
    <option value="512">512x512px</option>
    <option value="1024">1024x1024px</option>
  </select>
</div>
