---

---

<div class="stats stats-vertical shadow">
  <div class="stat">
    <div class="stat-title">Current zoom level</div>
    <div class="stat-value">0</div>
    <div class="stat-desc">0/?</div>
  </div>

  <div class="stat">
    <div class="stat-title">Progress</div>
    <div class="stat-value">0%</div>
    <progress class="progress progress-secondary w-56" value="0" max="100"
    ></progress>
  </div>

  <div class="stat">
    <div class="stat-title">Output size</div>
    <div class="stat-value">0Mb</div>
    <div class="stat-desc"></div>
  </div>
</div>
