<input
  id="file-upload"
  type="file"
  accept="image/svg+xml"
  class="file-input file-input-bordered w-full max-w-sm"
/>
<p id="status-text" class="m-2 text-xs"></p>
<script>
  import { inputSVG, processing } from "../lib/store";

  const status_text = document.getElementById("status-text") as HTMLParagraphElement;

  const optimizeWorker = new Worker("../lib/svgo.ts", { type: "module" });
  optimizeWorker.onmessage = (e) => {
    const optimizedSvgContent = e.data
    const parser = new DOMParser();
    const svg = parser.parseFromString(
      optimizedSvgContent,
      "image/svg+xml",
    ).documentElement as unknown as SVGSVGElement;

    status_text.innerText = "";
    inputSVG.set(svg);
  };


  const upload_input = document.getElementById(
    "file-upload",
  ) as HTMLInputElement;

  upload_input.addEventListener("change", handleFiles, false);
  function handleFiles(this: HTMLInputElement) {
    const file = this.files?.item(0)!;
    const reader = new FileReader();

    reader.onload = function (e) {
      const content = e.target?.result as string;
      status_text.innerText = "Optimizing SVG with SVGO...";
      optimizeWorker.postMessage(content);
    };

    reader.readAsText(file);

  }

  processing.listen((isProcessing) => {
    upload_input.disabled = isProcessing;
  });
</script>
